{% extends 'FrontBundle::layout.html.twig' %} {% block content %}
    <div id="profil_projet">

        <div class="container-fluid fnd_cam pad_hb_20">
            <div class="container pad_hb_20 text-center">
                <span style="font-size: 20px; text-align: center;" class="form_title ft_bold ft_blue">Erreur 404. Page non trouvé.</span>
            </div>

        </div>

    </div>
{% endblock %}
