/app/bootstrap.php.cache
/app/cache/*
!app/cache/.gitkeep
/app/config/parameters.yml
/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
/bin/
/composer.phar
/vendor/
/web/bundles/
/web/assets/vendor
/.idea
/src/CoreBundle/Entity/*.php~
*.project
/web/uploads
.settings
/LICENSE
cache
/app/DoctrineMigrations/Version20151109160025.php
/app/DoctrineMigrations/Version20151110175124.php
/app/DoctrineMigrations/Version20151112143215.php
/app/DoctrineMigrations/Version20151116104741.php
/app/DoctrineMigrations/Version20151120104602.php
/app/DoctrineMigrations/Version20151125153528.php
/app/DoctrineMigrations/Version20151126142414.php
/app/DoctrineMigrations/Version20151214175527.php
/app/DoctrineMigrations/Version20160104150302.php
/app/DoctrineMigrations/Version20160104151311.php
/app/DoctrineMigrations/Version20160104155729.php
/app/DoctrineMigrations/Version20160104155828.php
/app/DoctrineMigrations/Version20160104162301.php
/app/DoctrineMigrations/Version20160105091031.php
/app/DoctrineMigrations/Version20160105094424.php
/app/DoctrineMigrations/Version20160105103747.php
/app/DoctrineMigrations/Version20160105161300.php
/app/DoctrineMigrations/Version20160105170243.php
/web/css
/web/js
