// ------------------------------
// Note Module
// ------------------------------


// Display
// ------------------------------
.form-inline {
    display: inline;
}

.form-inline-block {
    display: inline-block;
}

#startDate input, #endDate input{
  color: #000 !important;
}

