// ------------------------------
// - LESS Variables
// ------------------------------


// Colors
// -------------------------
$color-white: #ffffff;


// Typography
// -------------------------
$normal-font-size:   1em;
$normal-line-height: 1.5;
$base-font-family:   "Helvetica Neue", "Helvetica", Arial, sans-serif;


// Paths
// -------------------------
$font-path: '../../../fonts';

