// ------------------------------
// Errors Module
// ------------------------------


// Core
// ------------------------------
.errors {
    margin-top: 5px;
}

.errors .title {
    margin-bottom: 1px;

    span {
        background: $red;
        padding: 3px 10px;
        color: white;
        display: inline-block;
        font-size: 12px;
    }
}

.errors .item {
    margin-bottom: 1px;
    position: relative;
    padding: 5px;
    color: red;

}

.task.last {
    border-bottom: 1px solid transparent;
}
